body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 { 
    text-align: center;
    margin: 0px -50px;
    color: rgb(0, 0, 0);
    font-size: 50px;
    padding-top: -20px;
}
h2 {
    text-align: center;
    font-size: 25px;
}
p{
    text-align: center;
    font-size: 20px;
}
.obdelnik {  
    
    width: 100%;
    height: 130px;         
    background-image: url(img/hack.jpg);  
    
}
.soc {
    height: auto;
    width: 50px;
    margin: -22px 0px;
    float: right;
}
hr {
    border: 1px solid black;
}
.text-box {
    border: 2px solid black; 
    padding: 10px;           
    width: fit-content;      
    margin: 20px; 
    text-align: center;           
}
footer {
    background-color:#B2BFCF; 
    color: rgb(0, 0, 0); 
    padding: 20px 0; 
    margin-top: 50px; 
    text-align: center;
    font-size: 20px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px; 
    justify-content: center; 
    padding: 25px; 
}
section img {
    width: 100%; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 10px; 
}
nav{
    display: flex;
    text-align: center;
    font-size: 30px;
    column-gap: 15px;
    padding-left: 5px;
    padding: 3px; 
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 3px; 
}
a:hover {
    background-color:rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 3px; 
    
    
}